<%= form_for(@student) do |f| %>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-1 col-xs-12">
      <div class="text-center">
         <%= image_tag("pictureplaceholder", class:"avatar img-circle img-thumbnail")%>
        <h6>Upload a different photo...</h6>
        <%= f.text_field :picture,  class:"text-center center-block well well-sm", placeholder: 'picturename'%>
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <h3>Personal info</h3>
      
      <div class="form-horizontal">
        <div class="form-group">
          <%= f.label :username, class: "col-lg-3 control-label" %>
          <div class="col-lg-5">
            <%= f.text_field :username , class: "form-control"%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, class: "col-lg-3 control-label" %>
          <div class="col-lg-5">
            <%= f.text_field :email , class: "form-control"%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password, class: "col-lg-3 control-label" %>
          <div class="col-lg-5">
            <%= f.text_field :password , class: "form-control"%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :confirm_password, class: "col-lg-3 control-label" %>
          <div class="col-lg-5">
            <%= f.text_field :password_confirmation , class: "form-control"%>
          </div>
        </div>
        <div class="form-group">
          
          <div class="col-md-8">
           <%= f.submit "Register", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
  <% end %>
    </div>
  </div>
</div>


